[2017-11-09 13:41] alivelimeli opened #7 "Allowed or Disallowed Query List (Words) Feature"
Hello,

I think it will be nice if you can some settings to allow only specific queries or deny specific queries (or maybe both).

For example:

allowed_query_words = SELECT,USE,SHOW,DESCRIBE,EXISTS,USE,KILL
disallowed_query_words=CREATE,ALTER,DROP,INSERT

So the user will only able to send queries starting with "SELECT"

I know there is a readonly mechanism inside Clickhouse. But through proxy we

[2017-11-10 10:39] iShift opened #8 "Feature request: Global caching"
It would be good if chproxy could have global cache not only per user

[2017-11-12 20:32] #8 closed, assigned to nobody

[2017-12-07 10:17] #7 closed, assigned to nobody

[2017-12-10 11:31] iShift opened #12 "[Feature Request] Cache settings in days"
Now i can set cache settings in seconds, but for heavy requests (in my project) i use cache for 3-7 days it would be good if i can set settings in days.

Example:
Now i use  expire: 259000s
i want:  expire: 3d

[2017-12-11 13:29] #12 closed, assigned to hagen1778

[2021-12-08 08:59] mr-karan opened #127 "Support `/ping` endpoint"
Clickhouse returns a `HTTP 200` response for `/ping` URL. However, this library doesn't support proxying that.

I want to add that `/metrics` won't work always, because that is optional and moreover, user can set any value for metrics endpoint (as mentioned here: https://clickhouse.com/docs/en/operations/server-configuration-parameters/settings/#server_configuration_parameters-prometheus)

`/ping`

[2021-12-14 16:40] vfoucault commented on #127
Hi @mr-karan,

It seems right to align chproxy on clickhouse api.

Feel free to issue a PR to fix this is you know how.

[2021-12-17 17:30] junekiwi opened #128 "Allow `param_` in query parameters"
I understand from the README and #98 that query parameters are filtered to prevent unwanted overrides of ClickHouse parameters.

However, this also filters parameters starting with `param_` which are used to replace placeholders in parametrized queries[^1].
For example `SELECT * FROM {table:Identifier}` with `param_table=some_table`.

Is there any security reasons to disallow these parameters?
I'd

[2022-01-07 01:49] LatchShun opened #130 "protocol between application and chproxy"
What's the protocol between application and chproxy?  Is it http/jhttps?

if it is http, i'm confused of the description part.

[code]

How to post 1Gbps between application and chproxy? And how many columns when you test?

[2022-01-13 10:26] mga-chka commented on #130
Hi, the protocol is HTTP/HTTPS.

The HTTP protocol should not prevent you to achieve a 1Gbps throughput if you send enough data per call so that the http overhead is negligible.
Since the tests were done by the previous owner of CHProxy I can't tel you how they were done. But the number of columns shouldn't have an impact

Can you be more precise on the part that confuses you?

[2022-01-19 16:51] gontarzpawel commented on #128
Hello @maxmouchet,

thanks for reaching out. There would be indeed an impact on caching if you do not modify how cache key is created. Here's a scenario where your change would cause undesired bahaviour:
- req 1
[code]
- req 2
[code]

these 2 queries are identical, so they'll lead to the same cache key. However, request 2 relates to the completely different table, therefore cache key shouldn't be

[2022-02-08 16:34] gontarzpawel opened #139 "Randomise ports of Clickhouse and Redis mocks in tests"
## Motivation
In order to support parallel CI executions we need to improve current testing framework to have randomised ports for Clickhouse and Redis.

## Specifics
All the tests rely on static configuration (yaml) to bootstrap chproxy server and execute on it particular test scenario. In those there are ports for Clickhouse and Redis hardcoded.

[2022-02-11 16:12] gontarzpawel opened #143 "Handle too big CH payloads for caching"
## Description
Currently we don't have any security mechanism for cache for too big payloads.

We should introduce some mechanism to secure that, detect ```payloads > MAX_SIZE``` and omit saving them in cache.
However, what would one consider appropriate threshold?

Perhaps the answer should be left to the user to decide.

[2022-02-23 15:46] pixelastic opened #147 "docs: formatting in page titles is incorrectly used in og:title tag"
When using custom markdown formatting in page titles, this formatting is propagated to the `og:title` tag.

Such formatting should be stripped, so the `og:title` is clean, while still allowing formatting in titles.

Example:

[code]

This will add the backticks in the og:title, while converting them to `<code>` in a title.

I don't think this is something that should be locally fixed, but we shoul

[2022-03-16 04:46] Jan-Barrera opened #150 "max_execution_time does not get go beyond 30 seconds"
Hi,

I have a client that connects to Clickhouse using jdbc and I have a long running query that takes over 40 seconds when using the Clickhouse server endpoint.

When using chproxy however, chproxy tries to kill the query at 30 seconds (it gets an authentication error trying to kill the query hence the log).
`ERROR: 2022/03/16 03:31:51 proxy.go:201: [ Id: 16DCBEE8C5562CE5; User "default"(1) proxy

[2022-03-16 07:34] Jan-Barrera commented on #150
`jdbc:clickhouse://10.xx.xx.xx:9090??socket_timeout=300000` <-- this is the cause, the extra '?', unsetting the socket timeout.

closing this. thanks.

[2022-03-16 07:34] #150 closed, assigned to nobody

[2022-03-31 09:47] mga-chka opened #154 "(Redis cache) Add the possibility to have a specific cache per user"
For security issues, some companies need that each sql user has their own cache.
Indeed, if clickhouse is configured with [ROW policies](https://clickhouse.com/docs/en/sql-reference/statements/create/row-policy/) or other kind of user rights, a user could have access to forbidden data if the query was previously done by another user with the right access and the result is is already cached in CH P

[2022-04-07 15:03] gontarzpawel opened #160 "Pool on chproxy usage"
Hello dear community!

We would like to better understand how do you use chproxy. Can you please respond to the shortest google [form](https://docs.google.com/forms/d/e/1FAIpQLSe13OCYFpKX5o6PhOAC4CZn2oxZwVEQK9HeSh5VYJ3ZuxrqDw/viewform?vc=0&c=0&w=1&flr=0) ever? 🙂

[2022-04-22 04:07] ddddddcf opened #164 "query_id not work"
I send request with params {"query_id":"xxxxx"},but it doesn't  work ,it always use scope_id  please give me help ！ thank
you

[2022-04-24 02:27] ddddddcf commented on #164
I saw the #47 issue , it was cancelled, so why

[2022-04-26 10:02] ddddddcf commented on #164
when I use ```create table ...``` statement ,I can't get ``query_id`` from response headers

[2022-04-27 10:27] ddddddcf opened #167 "High concurrency set session_id invalid"
When I start multiple threads to send sql queries, queries with the same **session_id** are forwarded to different server,but I want let then to then same server
log be like：
[code]
And config is:
[code]

[2022-04-27 10:49] ddddddcf commented on #167
I use 10 threads

[2022-04-27 11:21] ddddddcf commented on #167
when I use ```replicas```mode , all request will send the same server , but not load balance

[2022-04-28 13:13] mga-chka commented on #167
There must be some bug because when I briefly look at the code, it seems to handle the stickiness based on sessionID
https://github.com/ContentSquare/chproxy/blob/bb49c1674a85189b461e72568cc627c8a8e44cc3/scope.go#L59

If you have time to dig and fix the bug, feel free to do it.
Otherwise we will do it when we have time (but we have other priority for the moment)

[2022-04-28 13:17] mga-chka commented on #164
FYI, this PR was managed by the previous owners of chproxy.
We will need to take a bit of time to understand the reason why they didn't merge it.

[2022-05-24 03:16] glinxx opened #168 "http connections are not allowed from 172.x"
version: chproxy_1.15.1_linux_amd64.tar.gz
settings:
[code]
Why do I keep reporting this
[code]

[2022-05-30 19:04] vitaliyf commented on #168
Your "office" network_group is 172.0.0.0/24 but this does not cover 172.16.163.37 IP address your request is coming from.

Most likely you should be using [standard reserved IPv4 address blocks](https://en.wikipedia.org/wiki/Private_network#Private_IPv4_addresses): 192.168.0.0/16 and 172.16.0.0/12

[2022-06-06 20:45] ilejn opened #169 "Transparent users"
Hello,
as far as I can any user who accesses chproxy must be listed in config.
This approach effectively disables LDAP advanced usage https://clickhouse.com/docs/en/operations/external-authenticators/ldap/#ldap-external-user-directory .
If I am not mistaken is it possible to pass user names via chproxy transparently? Ideally by wildcards.
Thanks.

[2022-06-10 20:31] ilejn commented on #169
PR https://github.com/ContentSquare/chproxy/pull/170 is awaiting for review/discussion/approval/whatever.

[2022-06-11 06:22] mga-chka commented on #169
Sorry, we're a bit busy for the moment, we will review this PR in 1 or 2 weeks

[2022-06-17 10:22] gontarzpawel commented on #164
Hello @ddddddcf ,

today it does not work because chproxy uses its own generated `query_id` to kill queries exceeding timeouts.

In the issue you linked hagen proposed a solution to that:

would that work for you? It requires obviously code changes to chproxy, but it's the least impactful.

[2022-06-20 06:24] ddddddcf opened #174 "user custom session_id_type"
sometime when I set param of `session_id` , I just want proxy some queries to the same machine instead of query with context .Unfortunately , Clickhouse does not support concurrent queries with the same `session_id` , exception `Session is locked by a concurrent client. (SESSION_IS_LOCKED)` will occur . So I think should add optional param let user custom session_id type, like `proxy_without_conte

[2022-06-21 14:07] tomerr-neosec commented on #128
Is this going to be solved soon?

[2022-06-24 11:41] gontarzpawel commented on #128
The PR has just been merged. New version will be released shortly!

[2022-06-24 11:41] #128 closed, assigned to nobody

[2022-07-06 21:34] roimor opened #182 "[BUG] Chproxy adds 30s max_execution_time to users by default"
**Describe the bug**
Chproxy adds 30s max_execution_time to users by default in contrast to the docs. ("By default there is no limit on the query duration." -  https://github.com/ContentSquare/chproxy/blob/f4a34c3d09120578979abba15c23f683c2345951/docs/content/en/configuration/default.md?plain=1#L228)

**To Reproduce**
In the config dont set any max_execution_time , observe the logs of chproxy and

[2022-07-07 01:51] ryze124 opened #183 "[BUG] chproxy return wrong error message: ClickHouse exception, code: 1002, host: xxx.xxx.com, port: 80;"
**Describe the bug**
when i select a not exists , chproxy return wrong error code：ClickHouse exception, code: 1002, host: xxx.xxx.com, port: 80;  .

**To Reproduce**
4 clickhouse nodes，2 shards，2 replications.
2 chproxy instances,  1 nginx proxy which use http
table name（which not exists）：default.table_not_exists
sql: select count(1) from default.table_not_exists

**Expected behavior**
it should r

[2022-07-09 09:44] mga-chka commented on #182
looks like the bug was introduced 3 months ago by the PR https://github.com/ContentSquare/chproxy/pull/146

We will see if we can fix the behavior or just modify the doc.

[2022-07-09 09:48] mga-chka commented on #183
If you have time, it would be worth checking if the issue only happens for this exception or if it's broader which is what I guess (meaning: every CH error will generate a blurrier exception on CHProxy side).
I tag this issues as enhancement and not bug since it's just a labeling pb.

[2022-07-13 11:52] gontarzpawel opened #185 "[Feature] Retry recoverable requests"
**Is your feature request related to a problem? Please describe.**
Today, when proxied requests to specific shard fail we simply fail the client request, even if the failure happens due to shard's unavailability.

**Describe the solution you'd like**
When request fails due to unavailable shard it is routed to another replica.

**Additional context**
It would allow restart of clickhouse servers wit

[2022-07-13 12:07] gontarzpawel commented on #174
Hello @ddddddcf , is the issue resolved following the #173 ?

[2022-07-13 16:35] mga-chka commented on #183
[edited since this message was for another issue]

[2022-07-13 16:38] mga-chka commented on #182
cf the activity, the doc has just been modified according to this new behavior:
https://github.com/ContentSquare/chproxy/pull/186
So I'll close this issue

[2022-07-13 20:46] roimor commented on #182
@mga-chka  why did you go with updating the doc? don't you agree that this is a bug?
PLEASE let me know if this fix by my team member makes sense:
https://github.com/ContentSquare/chproxy/commit/d0956033f6cab8f0a6673c6c1eab687100e95bac

This is a more elegant way to address this, so please consider it

[2022-07-13 21:10] roimor commented on #182
i would also ask you to re-open this issue until you guys can go through this PR and approve it: https://github.com/ContentSquare/chproxy/pull/187

[2022-07-14 05:01] PhantomPhreak opened #188 "[BUG] "panic: assignment to entry in nil map" when using param_groups in v1.16.x"
Trying to run v1.15.1 and v1.16.0 with a following simple config
[code]
v1.15.1 works fine
[code]

v1.16.0 (and recent versions) throwing an error:
[code]

Just disabling `param_groups` in config make it working.
I suspect this issue may be caused by https://github.com/ContentSquare/chproxy/pull/175

[2022-07-14 14:49] gontarzpawel commented on #188
Hello @PhantomPhreak , indeed a bug was introduced with that commit. The map isn't correctly initialised https://github.com/ContentSquare/chproxy/pull/175/files#diff-cdf1ba9d2aff2ab4ffd551b3b586b0220ffa76efe95e4926054f8abfcb50ed5cR436

Thanks for submitting this bug report 🙏

[2022-07-14 18:31] mga-chka commented on #182
Hi,
As requested I've reopened the issue.
In the end we went with modifying the doc because:
- the max_execution_time is linked to the way CHProxy handles concurrent queries (since https://github.com/ContentSquare/chproxy/pull/146 that enforced the default value to 30 sec) and putting an unlimited value will break the logic
- the hidden regression you spotted is present on all version released for

[2022-07-15 12:42] roimor commented on #182
So @mga-chka let me see that I got you correctly , this PR is not clean enough? https://github.com/ContentSquare/chproxy/pull/187

[2022-07-18 06:46] gontarzpawel commented on #188
Hi @PhantomPhreak , we're closing this issue. The fix has been merged, it'll be included in the next release

[2022-07-18 06:46] #188 closed, assigned to nobody

[2022-07-18 06:53] mga-chka commented on #182
Yes it's not enough because there will be a side effect on the way chproxy manages concurrent queries. I'm not sure but with a value at 0 it will either not work or create a memory leak.
It's because when fixing the way concurrent queries worked (there was a huge bug in the previous implantation making it useless) we wrongly used the max duration time property to avoid adding a new config variable

[2022-07-18 07:31] PhantomPhreak commented on #188
@Garnek20
Just tested, everything seem working fine now. Many thanks for the quick response :pray:

[2022-07-19 04:17] ddddddcf commented on #174
This issue solves the problem of routing the same session_id to different nodes

[2022-07-20 07:04] gontarzpawel commented on #183
Hi @1241407808 , it looks like it was related to #192 . We will shortly release a fix version and we're looking forward to hear back from you if the issue is resolved 🙂

[2022-07-20 11:20] roimor commented on #182
@mga-chka i think increasing the default to 1 minute is reasonable yeah

[2022-07-21 01:31] ryze124 commented on #183
Thanks .
After you release a fix version , i  will try it again . Then , close this  issue.

[2022-07-21 07:51] gontarzpawel commented on #183
Hi @1241407808 ,
the release is done https://github.com/ContentSquare/chproxy/releases/tag/v1.16.2

[2022-07-21 08:22] mga-chka commented on #182
the fix is on its way. I decided to use 2 minutes by default, which should be large enough for most CHProxy's users.
Once the PR (https://github.com/ContentSquare/chproxy/pull/195) is merged, I'll close your PR (https://github.com/ContentSquare/chproxy/pull/187)

[2022-07-21 09:41] mga-chka commented on #182
The code is merged and I closed your PR, a new version of CHProxy with the fix was released (v1.16.3).

[2022-07-21 09:41] #182 closed, assigned to nobody

[2022-07-21 11:04] #160 closed, assigned to nobody

[2022-07-21 11:09] mga-chka commented on #183
once you confirm it fixed your pb we'll close this issue

[2022-07-22 11:01] Andrew32bit opened #196 "`letsencrypt` specification requires http server to listen on :80"
We have following error when we are trying up docker container from registry,version of chproxy is 1.15.0
I even tried with _sudo python3 -m http.server 80_ up server and this error still emerges:

`FATAL: 2022/07/22 10:56:34 main.go:154: `letsencrypt` specification requires http server to listen on :80 port to satisfy http-01 challenge. Otherwise, certificates will be impossible to generate`

Als

[2022-07-22 11:19] #196 closed, assigned to nobody

[2022-07-22 11:19] Andrew32bit commented on #196
it was self-hosted problem

[2022-07-26 03:03] ryze124 commented on #183
it fixed in 1.16.2

[2022-07-26 03:03] #183 closed, assigned to nobody

[2022-07-27 22:24] paulchoi opened #198 "SIGHUP does not refresh TLS certificate"
Should issuing SIGHUP to chproxy cause it to reload the TLS certificate?
The TLS cert served by chproxy is still the old one.

I am not using letsencrypt, but my infrastructure is able to provide short-lived TLS certificates that refresh every week.

[code]

[2022-07-28 00:46] paulchoi opened #199 "Documentation should make it clear that redis cluster is required for redis mode"
I tried configuring Redis caching and the error message says `ERR This instance has cluster support disabled`.
I brought up Redis instances using `redis:7.0.4-alpine` Docker container with no custom configuration.

[code]

[2022-07-28 10:43] mga-chka commented on #199
I don't see why redis caching requires a redis cluster. I'll flag this issue as a bug and we'll see if we either change the doc or fix the root cause

[2022-07-29 21:59] paulchoi commented on #199
Figured out what is triggering the issue.

If just 1 Redis instance is configured under `addresses`, the error is not triggered.
When 2 or more Redis instances are configured under `addresses`, then the error triggers.

So the workaround is to use just 1 Redis address for now.

[2022-08-01 08:12] mga-chka commented on #199
Thanks for the update.
Just to understand (to see if it's worth to mention your trick in the doc), if you had a non clustered Redis, why did you ended-up with multiple addresses in the conf?

[2022-08-01 12:19] mga-chka commented on #198
I did check the code and indeed it doesn't reload the TLS certificate since the part with the certificate is done at startup after the first load of the conf and not after each reload.
I can't say if we will fix this behavior because it might be more complex than expected. To be more precise, I don't know if with the current code, reloading the TLS certificate might cancel the ongoing queries, and

[2022-08-04 02:58] xzy256 commented on #164
I also need this function for using `query_id` with prefix for filter some query from `system.query_log`

[2022-08-04 03:08] ddddddcf commented on #164
The way I solved this problem was, put a unique comment in the query, sql  like:
[code]
I can query by sql : ```select query from system.query_log where query like '%gu3sdusa1dusbfsub2-sdafasdf-sdfas2a-da%'```

[2022-08-04 03:26] xzy256 commented on #164
I use http protocol not tcp, query_id is valid, when pass chproxy. So can't filter with `select .... like`

[2022-08-08 12:55] #174 closed, assigned to nobody

[2022-08-09 08:42] PhantomPhreak opened #201 "Amount of keys in redis cache is constantly growing"
chproxy v1.16.3

There are redis cache configured as following:
[code]

There are following keys appearing:
[code]
[code]
Somehow those keys has no TTL set, and it's amount is constantly growing, even if the actual cached result has been removed by the TTL
![image](https://user-images.githubusercontent.com/8307692/183600197-b4886683-b933-4fe0-965c-d3d84bc92d49.png)

Despite the small size of those

[2022-08-09 12:57] mga-chka commented on #201
It looks suspicious. It might come from the given change done 1 month ago that was done in order to be backward compatible with older version of redis servers https://github.com/ContentSquare/chproxy/pull/184
Could you do the same test on v1.16.0 (that doesn't contain this change) and give more details about the redis you're using (clustered, which version)?

[2022-08-10 07:57] PhantomPhreak commented on #201
@mga-chka

Tested, results seem to be the same
[code]
After making some test queries picture is following:
[code]

[2022-08-10 10:23] mga-chka commented on #201
There is something weird. I just checked a few records fromour redis in production and the TTL from CHProxy is working well

(integer) 15
[adresse of redis]:[port YYY]> TTL 127efbf543a03465d854a60b4fb557ed-transaction
(integer) 9
[adresse of redis]:[port YYY]> TTL 123c1c91fe87cab63b22d083893106ae-transaction
(integer) 12
[adresse of redis]:[port YYY]> TTL 1244629318897d9b7521ae88e79839e9-transacti

[2022-08-10 10:49] mga-chka commented on #201
After looking at the code, the issue might come from your configuration of chproxy.

chproxy stores 2 kinds of objects in Redis:
- the transactions that are used to handle concurrent transactions: it prevents chproxy to run twice the same SQL queries on CH when they are not cached yet and used at the same time. They are very small objects whose keys are suffixed by "-transaction". It's the objects

[2022-08-10 11:12] PhantomPhreak commented on #201
@mga-chka

Okay, you're taking about thundering herd, explained in the [doc](https://github.com/ContentSquare/chproxy/tree/master/config#distributed_cache_config)
Logic here is clear.

I will show you the exact config i used to reproduce this problem:

[code]

Reported config when chproxy is starting, some defaults has been applied:
[code]

after connecting with `clickhouse-cli` and getting the pr

[2022-08-10 12:30] mga-chka commented on #201
Thanks, we'll try to reproduce the issue on our side and fix it.
Since the cached query works on your side (since they disappear from Redis cf the listing of keys in your first post where all the keys end will a "-transaction") , it can't be linked to a redis version issue or something related to your infrastructure.

Regarding the max_execution_time, you're not the first one complaining about thi

[2022-08-10 13:55] mga-chka commented on #201
FYI I was able to reproduce the bug.
There is an ongoing PR regarding the way we fetch the max_execution_time in the config because it's a bit broken and will not work for many users of chproxy.
https://github.com/ContentSquare/chproxy/pull/190. It should be merged soon.
Until the next release of chproxy, you can bypass the pb by setting the grace_time in the conf
for example here is a working con

[2022-08-11 09:18] PhantomPhreak commented on #201
@mga-chka

Thanks, that would be nice. Actually, i was pretty much happy with per-cache `grace_time` setting, it was easier to configure and logic behind it was clear.

That's true, but i don't see so far how it will affect the behavior. For now, TTL is even set to -1 (unlimited) for the  the "-transactions", but caching logic still working fine as i tested. Maybe i'm just missing something?

for

[2022-08-11 12:25] dantecoding opened #204 "[Feature] Docker arm64 images"
Hello, guys, can you build arm64 or maybe another architectures docker images in docker hub, thanks?

[2022-08-11 17:23] mga-chka commented on #201
no your not missing something. Putting the grace_time would just avoid the garbage in Redis from the "-transaction" items.
If your redis is configured to automatically remove objects and you don't mind the pollution from those small objects then you can keep it as it is.

[2022-08-11 19:51] mga-chka commented on #204
Hi,
@sigua-cs will check if it doesn't take too much time and if it's simple enough he will do it

[2022-08-12 05:38] PhantomPhreak commented on #201
Frankly say, it's not a big issue so far. I hope https://github.com/ContentSquare/chproxy/pull/190 will be merged prior my 1GiB redis instance will be completely hogged by 1-2 bytes records :)
But i'll keep your suggestion in mind, thank you!

[2022-08-12 07:15] PhantomPhreak opened #206 "Memory consumption spikes after upgrading to v1.16.x"
We're running chproxy in k8s, before we were using v1.13.2 and memory consumption was constantly low, we used `512Mi` limit and it was enough.

After upgrading to v1.16.x we've got chproxy PODs OOMed constantly, and with `8Gi` limit picture look like following:
![image](https://user-images.githubusercontent.com/8307692/184301219-7e358793-d385-4d1f-9f46-5870ad60ec0a.png)

There are very clear seaso

[2022-08-12 08:15] mga-chka commented on #206
Hi,

Are you running queries that retrieve a lot of data?
If yes then it's a "known" issue.

It was created during the implementation of the redis cache feature and it's linked to the flow of a query in chproxy.
Here is how a not cached query is handled: [send request to clickhouse] => [temporary store the result] => [check if the query is worth caching] => [cache query if needed] => [return resul

[2022-08-12 08:26] PhantomPhreak commented on #206
For some queries response body size can be few MBs, i'm not sure it's a lot or not:
![image](https://user-images.githubusercontent.com/8307692/184314124-c4dfaaac-3b06-4ba7-9ee4-1a53ebb61067.png)

Aah, okay, this explains everything. Previous solution was working pretty much fine, but with a current implementation if, for example, some clients fetching more data, than current mem limit, chproxy wil

[2022-08-12 08:35] gontarzpawel commented on #206
Hi @PhantomPhreak , can you also share how many QPS chproxy handles during OOMs for the queries of roughly 5Mb / query result?

[2022-08-12 11:59] PhantomPhreak commented on #206
@Garnek20 hi
we've got it OOMed @ 13:31:02, here is a related graphs for this timeperiod:
![image](https://user-images.githubusercontent.com/8307692/184349917-2368d123-ba1d-4371-abf5-ff9f7d0830ba.png)

i hope it helps!

[2022-08-12 17:08] mga-chka commented on #206
Hi, thanks it helps.

FYI we took a look at the pb and it seems deeper than expected. The redis feature (that needed a huge refacto of the code) added a few hidden copies of objects so there is an amplification btw the result of the query and the amount of memory needed in chproxy to handle it.
It's also lightly impacts the old filesystem cache (there is at least one full copy of the result).
It's

[2022-08-12 23:37] paulchoi commented on #198
Thanks for the clarification. I understand that it would not be trivial to implement something like this.

I think some kind of note in the documentation might be good.

[2022-08-12 23:39] paulchoi commented on #199
(Sorry, was out of town for a while)

Sometimes you can add multiple Redis instances to a configuration if the application supports a hashing algorithm that utilizes multiple Redis instances - consistent hashing, for example.
Since the configuration allows for multiple Redis instances, and there was no mention of requiring Redis Cluster, I wanted to see if chproxy would work.

I think it'd be suff

[2022-08-18 13:41] Alex-Cheng opened #209 "[Feature] check the synchronization status of nodes and avoid those which are still in data synchronization"
**Is your feature request related to a problem? Please describe.**
I want to build-up a cluster with several nodes for load-balancing, however I need to frequently update database on one node and spread muations to others. I need to let chproxy avoide those nodes which are in progress of data synchronization.

**Describe the solution you'd like**
When data sync is running for a ReplicatedMergeTree

[2022-08-22 12:04] gontarzpawel commented on #209
Do you have any idea about how this feature could be implemented? @Alex-Cheng

We're familiar with the scenario of out of sync replica (e.g. node outage). In which case, we apply following approach:
- disable clickhouse server from the read path (remove https port - for chproxy access, and tcp port - for intersever communication)
-  restart server with updated config

This way clickhouse node will

[2022-08-22 15:36] sigua-cs commented on #204
Hello @dantecoding , we added builds for arm64 to docker images. You can try the latest release v1.16.4
Feel free to reopen this issue or a new one
I'm closing this issue

[2022-08-22 15:36] #204 closed, assigned to sigua-cs

[2022-08-23 14:23] mga-chka commented on #201
since the https://github.com/ContentSquare/chproxy/pull/190 was merged and a new version was released, I'm closing this issue.
If you still have issues, feel free to re-open this PR.

[2022-08-23 14:23] #201 closed, assigned to nobody

[2022-08-24 08:13] PhantomPhreak commented on #201
Thanks guys, i've just tried v1.16.4 and TTL for `*-transaction` keys set correctly in redis: 2x`max_execution_time`

[2022-08-25 23:48] mga-chka commented on #206
Hi,
FYI a fix is almost ready, it should be available next week (we will release a new version as soon as the PR is merged).
You can read the description of the PR to see what you can expect.
https://github.com/ContentSquare/chproxy/pull/212

[2022-08-29 18:16] mga-chka commented on #206
A new version with the fix is released https://github.com/ContentSquare/chproxy/releases/tag/v1.17.0
feel free to use it.
I close the PR, if this new version still doesn't solve your memory overhead, feel free to reopen it.

[2022-08-29 18:16] #206 closed, assigned to nobody

[2022-08-29 19:39] mga-chka commented on #198
FYI the following PR https://github.com/ContentSquare/chproxy/pull/215 will add more description on the documentation on the pb you faced. Once it's merge I'll close this PR (unless you think the description added is not enough)

[2022-08-29 19:39] mga-chka commented on #199
FYI the following PR https://github.com/ContentSquare/chproxy/pull/215 will add more description on the documentation on the pb you faced. Once it's merge I'll close this PR (unless you think the description added is not enough)

[2022-08-29 22:25] #168 closed, assigned to nobody

[2022-08-30 07:35] ank-everstake opened #216 "[BUG] Remote IP is wrong when deployed behind load balancer"
**Describe the bug**
Chproxy does not support so called PROXY protocol on HTTP when you get client IPs from special headers.

**To Reproduce**
Put Chproxy behind HAproxy, check logs on CHproxy - they will show ip of HAproxy instance as client IP/RemoreAddr.

**Expected behavior**
With HTTP, a proxy can add a [Forwarded](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded) HTTP head

[2022-08-30 07:43] gontarzpawel commented on #127
Hi @mr-karan , this feature has been released along with the version `v0.17.0`

[2022-08-30 07:43] #127 closed, assigned to nobody

[2022-08-30 08:44] mga-chka commented on #216
I have a few questions to understand your pb:
- why can HAproxy use ACL on client IPs  since on it side it sees the real IPs?
- can't you use CHProxy user limits for what you want (like the max_concurrent_queries)?

[2022-08-30 13:17] ank-everstake commented on #216
It would be strange as mapping is defined in Chproxy, and it would clobber configs if we would disperse logic for clients across different services.
Also, we have seen in Readme:

so Chproxy is already doing some part of parsing and thinking about backends and monitoring.
It is time do it in reverse order)

From our perspective Chproxy as a balancer needs to leverage this as it is a common feature

[2022-08-31 06:15] mga-chka commented on #199
The PR was merged

[2022-08-31 06:15] #199 closed, assigned to nobody

[2022-08-31 06:15] mga-chka commented on #198
The PR was merged

[2022-08-31 06:15] #198 closed, assigned to nobody

[2022-08-31 07:05] mga-chka commented on #130
Since there are no more answer/question from @LatchShun , I'll close this issue

[2022-08-31 07:05] #130 closed, assigned to nobody

[2022-08-31 15:31] tasdflkjweio opened #218 "add binary/docker images for darwin amd64 & arm64"
I've just pulled down docker images versions `1.16.4-arm64` and `1.17.0-arm64` for testing purposes on my M1 Macbook Pro, and am getting this error when running either of them:

I've tried a couple different configurations (pulled directly from the Chproxy website) with the docker installation command (also pulled from the website):

`$ docker run -d -v /Users/myuser/working/chproxy/config.yml:/co

[2022-08-31 15:54] mga-chka commented on #218
We recently released arm based docker build but weren't able to test it on our laptop since we're using Intel based CPU so it might be a bug from our image.
@sigua-cs , do you think you could check it using an AWS ARM based instance (graviton) just to validate the docker image ?

[2022-08-31 16:30] tasdflkjweio commented on #218
Thanks for the quick response. I've tried pulling down the equivalent arm64 binaries as well, and am not having any luck there either.

[code]
I believe the binary is unrecognizable.
<img width="625" alt="image" src="https://user-images.githubusercontent.com/58053652/187730873-46df463d-c068-4df6-ad58-94ec1de04068.png">

[2022-08-31 17:46] mga-chka commented on #218
It's weird because I quickly checked on a personal ARM instance hosted on Oracle cloud and didn't have an issue with the binary:

[code]
The only difference is see is that I'm using bash and you zsh (and I'm running on ubuntu).

[2022-09-01 08:05] ilejn commented on #169
We've introduced a new concept https://hackmd.io/LXk8tLI8Q3etKax-HWtGxQ and a new PR https://github.com/ContentSquare/chproxy/pull/219

[2022-09-01 19:54] tasdflkjweio commented on #218
Sorry for the delayed response. I tried the exact same commands and get the same error. I had a friend - also with an M1 MBP - pull down and try, and he's getting the exact same thing as me.

[2022-09-02 08:23] mga-chka commented on #218
ok, this one might take time because we need to get a M1 MBP to understand the issue:-/.
I'll try to bother someone with a M1 MBP when I can.

[2022-09-02 09:00] mga-chka commented on #167
closing this issue since it was fixed by https://github.com/ContentSquare/chproxy/pull/173

[2022-09-02 09:00] #167 closed, assigned to nobody

[2022-09-02 09:02] mga-chka commented on #164
you can put a comment in SQL even with the http protocol

[2022-09-02 09:11] mga-chka commented on #218
I think I got the issue, our builds only work for linux.
https://github.com/ContentSquare/chproxy/blob/master/.goreleaser.yml#L28

We will need to add a specific build for macOS/darwin. I'll change the name of the issue and tag it as feature request

[2022-09-02 15:15] derN3rd opened #220 "[Feature] Return error if invalid query is provided"
Currently when we send an invalid query (i.e. two data types in a comparison don't match) CHProxy just returns `400 Bad Request` and the exception code in the header.

Clickhouse itself sends
[code]
in the response body, which I would like to have in CHProxy as well.

Is this already configurable?

Another possibility would be to use `log_debug: true` in the config, but that includes all requests,

[2022-09-03 11:04] gontarzpawel commented on #220
Hello @derN3rd , what version of chproxy are you using? It looks like a bug that has been fixed in https://github.com/ContentSquare/chproxy/commit/05f4f59f599af00311011e18c84ebc17381c0eb9

included in the releases:
[code]

[2022-09-03 12:32] derN3rd commented on #220
Hey Garnek20,

Thanks for the hint. Our ansible deployment had the version hardcoded instead of using the latest, therefore I was checking with an older version.

Can confirm it's fixed now!

[2022-09-03 12:32] #220 closed, assigned to nobody

[2022-09-03 13:03] Nicholaswang commented on #154
working in progress

[2022-09-05 09:49] PhantomPhreak opened #222 "Can't connect to chproxy with clickhouse-cli and DBeaver with redis cache enabled (v1.17.0)"
Hi guys, it's me again :)

I've discovered a following problem with a v1.17.0:
After some time of the normal operation, i can't connect to chproxy instance or run any queries, using https://github.com/hatarist/clickhouse-cli or DBeaver, and getting following errors:

[code]

That's how it look like in chproxy logs
[code]

I have a distributed redis cache for that user enabled. Re-starting chproxy

[2022-09-05 12:21] mga-chka commented on #222
Weird issue.
When I improved the redis cache feature I faced many "Empty reply from server" while I was developing the feature so it's likely due to an edge case not spotted. My feeling is that it could come from a missing TCP setting on the redis connection.

To help the troubleshooting:
- what happens if you set max_execution_time at 30 sec?
- Is the issue happening after 300s (because the cache

[2022-09-06 07:54] mga-chka commented on #216
It's your lucky day!
There is a new member in the team that manages chproxy and he will start with this task.
I can't say how long it will take but at least your issue will be done, so you don't have to be worry about your PoC/PR.
We might need you once the task is over so that you can validate everything works as expected.

[2022-09-06 09:40] Ravojay opened #223 "Header Content-length present only when using cache"
Hi all,
Seems that the Content-length is set only when using cache and is calculated from the file, any explanation why not set it to all responses? Also, is there an easy way of getting the size of the response from clickhouse server without modifying a lot of the dependency packages?

[2022-09-06 11:23] PhantomPhreak commented on #222
This is really weird issue. I dug deeper and found following

Query will be timed out after 30s of execution
[code]
30s timeout will make "*-transaction" keys to be flushed earlier and possibly will help to mitigate the issue (see below), but low timeouts are not useful with ClickHouse.

It looks so, at least the amount of time since "redis keys flushed" till "can't connect" directly correlate wit

[2022-09-06 11:30] PhantomPhreak commented on #222
Ah, and one more thing. Wheh chproxy instance is up and working, failed redis cache instance not causing any problems: fallback to the clickhouse will be performed quickly. But when redis instance is down, Chproxy refusing to start.

[2022-09-06 12:00] mga-chka commented on #223
Hi,

The short answer is no because of performance reasons.

Clickhouse doesn't give the content-length in the HTTP headers when chproxy queries it.
For example, here is the list of headers given by clickhouse when I do a query using http
[code]
ClickHouse doesn't send this information because it doesn't have it when it starts streaming the result of the query trough HTTP  (nb: I'm not 100% sure a

[2022-09-06 14:16] mga-chka commented on #222
Thanks. I think I see where it comes from although it's weird that the version 1.16.X works well (maybe because in the 1.17.X we're not using the same Redis APIs).
I'm a bit busy this week, so I don't know if I'll be able to do a fix but in the worst case scenario you'll have something the week after.

[2022-09-06 15:21] Steuf opened #224 "[BUG] Error message "concurrent query failed""
**Describe the bug**
I use chproxy with redis cache (keydb in fact, but it's the same), chproxy are used between clickhouse and dataviz (Grafana). But I have randomly the error "concurrent query failed" (and this error are cached :/).

This message are not really explicit,  when I see the code the error was fired by the cache code. What can be the origin of this error and how I can solve it ?

**E

[2022-09-06 15:30] mga-chka commented on #224
Hi, this error means that you tryed to run the same query at the same time (or the first query then the 2nd one while the first one is still running). Instead of running twice the same query into clickhouse, chproxy will run the first one then wait for the result of the first query to use the cached result from the 2nd one. But if the first one failed (for example because of a timeout), chproxy wi

[2022-09-06 15:41] gontarzpawel commented on #224
To follow up on the answer from @mga-chka , we can consider an enhancement to this mechanism by storing error message of originally failed query. It would be more intuitive to user and hide the technical detail on how we optimise execution of concurrent queries.

I'm marking this issue as an enhancement and will try to work on it in a near future.

[2022-09-08 07:01] mga-chka commented on #222
Hi,

The bug is not the what I thought.
I was able to reproduce your issue with v1.17.0 but not with the version on master.
It's strange because the only difference btw 2 versions is an improvement about concurrent transaction handling. If you can, try to build a binary from the master branch (you just have to install golang then do a "go build" in the root folder of chproxy) and check if it solve

[2022-09-08 07:08] PhantomPhreak commented on #222
Good news that you can actually reproduce it :)
We're using custom built chproxy image, and here is a part of the Dockerfile for the v1.17.0

[code]

I'll build it from the master and test it, thanks for the advice!

[2022-09-08 08:30] PhantomPhreak commented on #224
I also stepped on it.
Despite the unclear error message, this result is cached for more than confugured cache TTL

For example, i'm setting 60s for the cache TTL and 30s for the `max_execution_time` setting
Then i'm running a *long* query, getting the error:
[code]
After 60s (cache TTL) i have 2 keys in redis:
[code]

Running the query again resulting to the error: "concurrent query failed"

"2" m

[2022-09-09 17:17] #143 closed, assigned to sigua-cs

[2022-09-11 12:05] gontarzpawel commented on #224
Hello @PhantomPhreak ,

Thanks for sharing. Keys with the suffix `-transaction` relate to the feature of concurrent transactions. When query arrives to the 'cacheable' chproxy it firstly starts so called transaction. The purpose of this transaction is prevention from `thundering herd effect` as such that the concurrent request relating to the exactly same query will await for the result of the com

[2022-09-11 13:01] Blokje5 commented on #216
I opened a PR to address this issue. However, the PR (see: #225) does raise some questions. I hope to cover at least the most common use cases with the PR, but especially with custom headers it can be hard to support all use cases without the ability to allow users of CHProxy to create e.g. custom middleware.

[2022-09-12 07:55] mga-chka commented on #222
Hi,
Any news on your tests with the version on master?

[2022-09-12 09:09] mga-chka commented on #218
FYI @sigua-cs  is currently looking at adding macOS builds for chproxy binaries & docker images

[2022-09-12 10:17] sszc opened #227 "Instead of polling each node, there is a complete set of data on each node."
Is it possible to configure that instead of polling each node, each node executes once? For example, I want the dimension table to have a complete set of data at each node.

[2022-09-12 13:43] mga-chka commented on #227
Hi,
I'm not sure your problem is linked to chproxy (but more to clickhouse).
To be sure it's not related to chproxy, can you be more precise?

[2022-09-13 01:29] sszc commented on #227
Hello, because our current ClickHouse is multi-sharding, a sharding has 2 copies, and the writing is linked to Chproxy for writing. If I want to implement the dimension table broadcast (all replica nodes have full data), then use the local association when the table is associated. The use of dimension association scenarios has been accelerated and currently does not seem to be supported by CHProxy

[2022-09-13 07:41] PhantomPhreak commented on #222
Hi! Good news here, it works fine with version from the master: described problem is not appearing anymore, so we can consider thus bug as fixed i suppose!

With a new version we have noticeably higher CPU usage (around 60%/core in average, befefore it was close to 0), but it's still acceptable.

Thank you for the support :)

[2022-09-13 08:15] PhantomPhreak commented on #224
This is a good point, but there are a big question how to separate recoverable and unrecoverable queries. Also, if unrecoverable queries don't do any harm to the ClickHouse itself, it may be safe to allow them, and control the query execution rate by max requests per minute/max concurrent queries on CHproxy side, or even a quotas and query [complexity settings](https://clickhouse.com/docs/en/opera

[2022-09-13 08:39] mga-chka commented on #222
Good to here that.

`With a new version we have noticeably higher CPU usage (around 60%/core in average, befefore it was close to 0), but it's still acceptable.`
you mean between 1.17.0 and 1.17.1/master or between 1.16.X and 1.17.0?

[2022-09-13 08:49] PhantomPhreak commented on #222
this one, we haven't tried 1.17.1 yet, but i'm gonna try it now :)

[2022-09-13 09:11] mga-chka commented on #222
ok, I'm closing the issue.
I'll add an issue regarding CPU usage but, since chproxy process queries faster in 1.17.0, this might be why the cpu usage is bigger.
nb: If you're looking at using 1.17.1 in your production, you should look at the max_payload_size new feature that avoids caching big results in redis (and therefore having many useless cache misses because redis has to flush out many smal

[2022-09-13 09:11] #222 closed, assigned to nobody

[2022-09-13 09:13] PhantomPhreak commented on #222
`max_payload_size` seem very useful tunable, thank you for the tip!

[2022-09-13 09:15] mga-chka opened #228 "[BUG] CPU usage increased a lot since 1.17.0"
**Describe the bug**
CF issue https://github.com/ContentSquare/chproxy/issues/222, the cpu usage since version 1.17.0 is bigger.
`With a new version we have noticeably higher CPU usage (around 60%/core in average, befefore it was close to 0), but it's still acceptable.
`
This new behavior might be normal since the version 1.17.0 process queries much faster.
The idea of this task is to investigate

[2022-09-13 15:11] gontarzpawel opened #230 "[BUG] Transactions TTL updated upon finalisation"
**Describe the bug**
In the issue #224  it's explained that failed transactions are kept for time **t** after concurrent queries are completed. It can be problematic if the error is recoverable, but not detected as one, because query will be failed for some time.

**To Reproduce**
Start a query

**Expected behavior**
Query should be replayed on Clickhouse instead of served from concurrent transact

[2022-09-14 06:56] mga-chka commented on #223
I'm closing the PR.
FYI since v1.17.1 there is a trick to do what you want: You can create a filesystem cache and use the max_payload_size field to say to you don't want to cache results bigger than 1 bytes (so all the results). Doing so will force chproxy to first put all the result in a file and it will give you the result with a Content-length header.

[2022-09-14 06:56] #223 closed, assigned to nobody

[2022-09-14 07:39] mga-chka opened #231 "[DOC] outdated links in chproxy.org"
the doc shown in chproxy uses tools likes:
- goreport
- travis
- gocovers
but the links to the tools are either outdated (link to an old version of chproxy) or don't work

[2022-09-15 13:33] gontarzpawel commented on #185
FYI @mga-chka @sigua-cs @LEijsackersCS Jingmao will take care of this enhancement.

[2022-09-15 13:37] mga-chka commented on #185
IMHO the number of retries must be configurable and at 0 by default.

[2022-09-15 14:38] LEijsackersCS commented on #185
We can also maintain the shard health on CHProxy side and use that to make routing decisions. If a shard is unhealthy it can be skipped (as opposed to retrying with a different shard). But for now I'm ok with retrying.

[2022-09-15 15:31] gontarzpawel commented on #185
@LEijsackersCS this information is already stored in chproxy, but you may launch a query in-between healthchecks. Therefore the status of the node is not updated yet.

[2022-09-16 07:35] LEijsackersCS commented on #185
We do need both indeed. I was just thinking of an overloaded node and then retrying requests against that will make the node less likely to recover.

[2022-09-16 17:14] mga-chka commented on #169
closing the issue since PR https://github.com/ContentSquare/chproxy/pull/219 was merged

[2022-09-16 17:14] #169 closed, assigned to ilejn

[2022-09-19 17:02] Steuf commented on #224
Thanks for update Guys, I have tested release 1.17.2, at start I was unreadable logs, and I think it was caused by the http compression actived on Clickhouse :

<img width="1259" alt="Capture d’écran 2022-09-19 à 18 59 12" src="https://user-images.githubusercontent.com/262871/191072392-1131e71d-90ca-467f-8368-7c141b764cb9.png">

I have deactivated HTTP Compression on CH to have "readable" error

[2022-09-19 19:23] tasdflkjweio commented on #218
appreciate the update!

[2022-09-20 10:27] zhuzhihao94 opened #233 "[BUG] cache not expire"
**Describe the bug**
cache not expire ，chproxy version 1.17.2

**To Reproduce**
10s expire;but cache always hit;
my config.yml:
server:
  http:
      listen_addr: ":19090"
      #allowed_networks: ["0.0.0.0/0"]
hack_me_please: true
log_debug: true
users:
  - name: "default"
    password: "root123"
    to_cluster: "default"
    to_user: "default"
    max_concurrent_queries: 1000
    max_execution_t

[2022-09-20 12:25] Steuf commented on #224
I think I have found the pattern that generate this behavior.

Sometime on Grafana, query are immediatly canceled by the client and re-fired.

![Capture d’écran 2022-09-20 à 14 23 09](https://user-images.githubusercontent.com/262871/191256641-4592e1e7-b24d-4599-a6a1-234ef8e82c87.png)

In this case it always generate the concurrency query failed error on chproxy.

[2022-09-20 18:29] mga-chka commented on #224
yep, this is the issue @PhantomPhreak was mentionning (with the ctrl +c).
FYI we are planning to modify this part (and at least let the chproxy admin to customize this part with the config.yml).
cf https://github.com/ContentSquare/chproxy/issues/230

[2022-09-20 18:33] mga-chka commented on #233
were you using a previous version of chproxy that expired in 10sec?
We will need to dig a bit but it doesn't look normal, the cache should expire after 10 sec.

[2022-09-21 02:05] zhuzhihao94 commented on #233
@mga-chka I haven't used any other version；
cache expired  only when clear cache dir and restart chproxy；

[2022-09-21 13:09] Steuf commented on #224
👍

[2022-09-22 08:50] bigdata-spec opened #236 "chproxy log is incorrect, how to solve it"
![image](https://user-images.githubusercontent.com/23710717/191702333-356a6c87-5921-4581-880a-b2c860eb7519.png)

The time zone in the chproxy log is incorrect, how to solve it？

[2022-09-23 13:58] mga-chka commented on #236
CH proxy relies on golang logs package using UTC and not the local timezone:
https://github.com/ContentSquare/chproxy/blob/master/log/log.go#L12
This might be why you're having this behavior.
For the moment the UTC is hardcoded (cf the code I gave you) and there is no way to switch to the local time zone. So if you want the same time, you should switch your server to UTC.

Feel create a PR to let

[2022-09-26 16:56] gontarzpawel commented on #185
We're marking the node as inactive if it does not respond to healthcheck, so load balancing algorithm will not use it for the next queries.

[2022-10-06 11:05] sigua-cs commented on #218
Hello @tasdflkjweio , I created a PR https://github.com/ContentSquare/chproxy/pull/239 which partially implements this issue. I'll be working on docker images in a separate task/pr. I'll keep you posted on it

[2022-10-11 12:33] DenisGee opened #243 "documentation does not match the release"
so, documentation https://www.chproxy.org/configuration/users has information about is_wildcarded but in last release(v1.17.2) the functionality does not work

[2022-10-11 21:23] mga-chka commented on #243
good point.
We wanted to make a release of v1.17.3 (that contains the new wildcarded user feature) sooner but we're waiting for a last fix before doing it, this new version (aligned with the documentation) should be released within a week.

[2022-10-12 12:38] mga-chka opened #245 "[BUG] failling test due to a "too many open files" error"
The current master branch (commit f8f3e8336dd4c128a266ee609ec3269543573db2) has a failing test on my laptop & @sigua-cs laptop whereas it was working before

`go test ./...`

`ok  	github.com/contentsquare/chproxy	15.089s
--- FAIL: TestCacheClean (0.26s)
    filesystem_cache_test.go:214: failed to put it to cache: cache "foobar": cannot create file: 98f713d98e229692173f2b397f5cd86a : open test-dat

[2022-10-12 14:31] Nicholaswang commented on #154
@mga-chka Hi, to avoid misunderstanding, do you have a more detailed description or specification of the requirement for this issue?

[2022-10-13 13:58] mga-chka commented on #245
after a quick test, the change of behavior happened during this commit:
`
commit b459dccdb011063536919cceb18e7076430f123f
Author: Paweł Gontarz <garnek522@gmail.com>
Date:   Mon Sep 5 17:34:09 2022 +0200

    Enhancement: failing concurrent transactions (#193)

    * enh(failed_queries): mark in transaction registry as failed only for specific status codes

    * fix(review): nonrecoverable list t

[2022-10-13 14:13] mga-chka commented on #245
after more investigation on the problematic commit, the issue seems to be specfic to the test and is due to the following added line
`defer crw.Close()`
https://github.com/ContentSquare/chproxy/blob/b459dccdb011063536919cceb18e7076430f123f/cache/filesystem_cache_test.go#L201

so the issue is less problematic than expected. It's still unknown why this line creates the increase in file descriptor us

[2022-10-13 17:42] mga-chka commented on #243
FYI the version 1.18.0 of chproxy with the wildcarded user feature is released

[2022-10-13 17:42] #243 closed, assigned to nobody

[2022-10-14 07:55] mga-chka commented on #154
Hi (sorry for the late reply),
The current issue with the Redis Cache design is that:
- we have 2 users "john" & "jane" has different read right in clickhouse (for example jane is not allowed to see the information of the row "Barack Obama" in the table persons)
- john do a query about information forbidden for jane ("in my example select * from persons where id="[the id barack obama")
- the resul

[2022-10-14 17:49] mga-chka opened #248 "[BUG] docker image of v1.18.0 doesn't work"
**Describe the bug**
When running the image the following error happens
`sh: 1: /opt/chproxy: not found`

[2022-10-15 18:36] #230 closed, assigned to gontarzpawel

[2022-10-15 18:39] mga-chka commented on #224
FYI v1.18.0 should improve this issue since now a failing call will be cached for 500 msec.
cf https://github.com/ContentSquare/chproxy/pull/235

I'm closing this issue since the new behavior of chproxy (the root cause error of the "cached" error is shown & the error is cached only for 500 msec to avoid dogpile effect) should solve most cases.
Feel free to open it again if needed.

[2022-10-15 18:39] #224 closed, assigned to nobody

[2022-10-16 13:05] mga-chka opened #249 "[Feature] allow more patterns for wildcarded users"
**Is your feature request related to a problem? Please describe.**
As discussed with @DenisGee in the PR about wildcarded users here (https://github.com/ContentSquare/chproxy/pull/219#issuecomment-1279185370), the feature is only limited for usernames that matches the pattern [prefix]_[wildcard]

**Describe the solution you'd like**
We should be able to use this feature for more pattern of usernam

[2022-10-19 12:38] mga-chka commented on #248
closing the issue since it was not on the official docker images but only on internal images used at contentsquare

[2022-10-19 12:38] #248 closed, assigned to sigua-cs

[2022-10-21 12:54] mga-chka commented on #249
this change will be available in the future 1.19.0 that will be released within a week

[2022-10-21 12:54] #249 closed, assigned to mga-chka

[2022-10-21 12:59] DenisGee commented on #249
Thank you for so fast reaction and the merge

[2022-10-22 17:36] #216 closed, assigned to Blokje5

[2022-10-23 08:17] mga-chka commented on #216
FYI the new v1.19.0 contain the feature you asked for. If it doesn't work as expected, feel free reopen the issue

[2022-10-25 11:04] Fiery-Fenix opened #254 "[Feature] Add configuration parameter to disable KILL QUERY feature"
**Is your feature request related to a problem? Please describe.**
There is an issue with KILL QUERY functionality that may unexpectedly hit ClickHouse max_concurrent_queries_for_all_users limit.
Let's say in ClickHouse we have set max_concurrent_queries_for_all_users = 100. In CHProxy we have set max_concurrent_queries = 80. 20 concurrent queries is left for in some urgent/maintenance purposes.
I

[2022-10-29 02:24] 313177606 opened #255 "[BUG] failed to reach redis: got 4 elements in cluster"
use redis cluster  config address [ "172.18.239.134:6379","172.18.239.133:6379", "172.18.239.132:6379"]
 main.go:55: error while applying config: failed to reach redis: got 4 elements in cluster info address, expected 2 or 3

![image](https://user-images.githubusercontent.com/8287476/198775554-389efd7e-f3a1-40ed-9d79-133adf2b2231.png)

[2022-10-29 09:25] mga-chka commented on #255
are you sure the IPs are part of the same redis cluster?

[2022-10-29 09:29] mga-chka commented on #255
FYI we're relying on the go-redis lib to connect with redis and someone got the same issue as you.
It seems that the lib we're using is not compatible with redis 7 in cluster mode. Is it the version of redis you're using?
I let you read the thread for more details but the issue is on the current version of go-redis (8.x). The new version (9) should solve the issue but it's still under development

[2022-10-29 17:47] 313177606 commented on #255
hi bro ,, checked  my redis  version is  7.0    thkx

[2022-10-31 17:22] mga-chka opened #256 "[BUG] security issue with wildcarded users and redis cache"
**Describe the bug**
Since redis cache provides the same cache for all users (cf https://github.com/ContentSquare/chproxy/issues/154), if the wildcarded user feature is used and a good user/pwd does a query A, then if a wrong user/pwd does the same query, he will be able to get the results despite the fact that the authentication would have failed on clickhouse side.

[2022-11-02 13:03] mga-chka commented on #154
@Nicholaswang FYI I'll do the task since we need it ASAP at contentsquare and we didn't hear from you about the task

[2022-11-02 13:52] mga-chka commented on #154
cf https://github.com/ContentSquare/chproxy/pull/258 for the ongoing PR fixing this behavior

[2022-11-04 11:54] inakisoriamrf opened #259 "[QUESTION] Set timeout in case redis is down"
**Which feature your question relates to?**
caching with Redis

**Question details**
Is there any variable to lower the timeout with Redis in case Redis is down?
**Additional context/motivations**
Being able to tweak this value allows us to have a single redis instance and connect directly to CH in case it's down (reboots, node changes...) without needing to set up a full redis cluster

[2022-11-04 23:25] mga-chka commented on #259
currently no.
If you can, you can do a PR to add the ability to change MaxRetries, MinRetryBackoff & MaxRetryBackoff in the redis client using values in the configuration.
This change should not be too difficult since the function creating the redis client takes the configuration  in argument
https://github.com/ContentSquare/chproxy/blob/master/clients/redis.go#L17

[2022-11-05 13:29] vorillaz opened #261 "[QUESTION] `chproxy` in a follower - leader setup"
**Which feature your question relates to?**
Load balancing across two ClickHouse instances in a leader / follower scenario.

**Question details**
Hi there,
Thanks a ton for this amazing project. Currently, we are evaluating `chproxy` as a way to provide a highly available setup with minimal effort and maximum performance. Our setup would be quite simple and common with two single node ClickHouse i

[2022-11-05 18:45] mga-chka commented on #261
short answer:
you should use a clickhouse cluster and chproxy won't be able in the setup you're planning to do.

long answer:
Yes a clickhouse in cluster mode is more painful to maintain than clickhouse in stand-alone. We've been maintaining a dozen of clusters at contentsquare since 2018 so we have some knowledge on that part.
But when we created our first cluster in production in 2018 (with mult

[2022-11-07 08:53] liadt-neosec opened #263 "use wildcarded users with different name and to_user values"
Hi,
I have been trying to implement a wildcarded configuration, but where the name is different from to_user.

here's an example, where I want any test_tenant_* user to use my_cluster_* users, which does not seem to work for me:
[code]

is this suppose to work this way? did I find a bug, or is that suppose to be a feature request?

thx! :)

[2022-11-07 10:43] mga-chka commented on #263
Hi,

The wildcarded user feature doesn't do what you want.
The doc might not be explicit enough and we will improve it. Likewise, the conf is a bit misleading because the to_user is a bit useless for wildcarded users (but we kept it to avoid a huge refactoring and because the notion of to_user is still useful to define some user limitations inside chproxy).

Basically with the wildcarded user, the

[2022-11-07 10:53] liadt-neosec commented on #263
@mga-chka thx for the answer!
BTW, I see that here:
https://github.com/ContentSquare/chproxy/blob/master/config/examples/wildcarded.yml
there's `is_wildcarded: Yes`, as far as I understood it suppose to be set to `true` or `false`, it got me a bit confusing

[2022-11-07 10:53] #263 closed, assigned to nobody

[2022-11-07 13:24] mga-chka commented on #263
it should be true, I'll change it.

[2022-11-08 11:28] ilejn opened #264 "[QUESTION] Strange benchmarking"
Hello, I am trying to benchmark chproxy.
Instead of ClickHouse I use nginx that is tweaked to support healthchecks.
Three nodes, one runs ab (client), another chproxy and the third one is nginx.

The result is rather decent
[code]
While after a while I see significant performance degradation (same test, 10 times longer)
[code]
Note, that RPS is 3 timew lower in the second test.
What is may be even

[2022-11-08 11:53] ilejn commented on #264
Configuration is trivial
[code]

[2022-11-08 20:55] mga-chka commented on #264
I don't know what could be the issue but it seems weird.
My first guess is that it's linked to the garbage collection that could be heavy on some edge cases and slow down everything but I don't understand the bad gateway.
In chproxy we don't generate 502 errors so it either comes from nginx or the httputil.reverseProxy we're using ([an official go package](https://pkg.go.dev/net/http/httputil#Reve

[2022-11-09 06:11] ilejn commented on #264
Hello, please advise how to calculate required RAM if cache is disabled.
Is it safe to assume that chproxy requires <512k per active query, IOW if maximum number of parallel queries is 200 one needs 100M of RAM (which is practically nothing)?

[2022-11-09 06:18] ilejn commented on #264
Hello @mga-chka , many thanks for the response.

Currently I am 99% sure that BadGateway comes from proxyRequest()
[code]
It turned out that nginx is not required because ClickHouse is fast enough at queries like SELECT 1 to serve as backend to benchmark chproxy. Behaviour is the same.

I'll continue the investigation. Plan to enable ReverseProxy logs.

[2022-11-09 14:50] mga-chka commented on #264
`
Hello, please advise how to calculate required RAM if cache is disabled.
Is it safe to assume that chproxy requires <512k per active query, IOW if maximum number of parallel queries is 200 one needs 100M of RAM (which is practically nothing)?
`
I'm not sure if 100M of RAM is enough because:
- go needs memory for it's inner working
- because of the way go garbage collection works, you need at lea

[2022-11-09 14:52] mga-chka commented on #261
since there are no more msg after my answer, I assume the question was answer and therefore I'm closing it.
If it's not the case, feel free to reopen the issue

[2022-11-09 14:52] #261 closed, assigned to nobody

[2022-11-10 08:55] #259 closed, assigned to nobody

[2022-11-10 12:50] ilejn commented on #264
Hello Christophe,
I have 8Gb RAM on the test box which must be enough for a couple of dozens of connections.
I hope that my question about RAM is not related (thank for the answer though).

I've checked several theories with no luck.
Recently I've realized that there are many random connect() errors like
[code]
and that
[code]
At first glance this is something about SO_REUSEADDR.
Looking into this

[2022-11-14 12:17] #154 closed, assigned to Nicholaswang

[2022-11-14 12:17] #256 closed, assigned to mga-chka

[2022-11-16 13:25] Nicholaswang commented on #154
Great, got caught up in other things recently, I will also try out the new PR as soon as possible.

[2022-11-16 22:17] ilejn commented on #264
Hello Christophe,
further observations.
1. My test environment (and our production environment) is CentOS 7. I cannot reproduce the issue on Ubuntu 22.04 (don't know why).
2. The issue can be solved by increasing MaxIdleConnsPerHost in Transport that is used by ReverseProxy. Current value is 2, which is nothing. Assuming the number of ClickHouse hosts served by an instance of chproxy is relatively

[2022-11-16 22:21] ilejn commented on #264
The patch is as simple as
[code]
The only what I've actually changed is MaxIdleConnsPerHost, others parameters are intact.

To be honest, I am not sure what to do.
1. The problem is rather serious for old Linuxes, so it must be solved. On the other hand, nobody cares.
2. The idea to hardcode '100' seems strange. On the other hand, having it configurable seems too heavy-weight.

Advice?

[2022-11-16 22:35] ilejn commented on #264
About the nature of the issue.
Assume that chproxy closes TCP connection to ClickHouse.
The connection remains in TIME_WAIT state for 60 (may be 30) seconds, so the port had used by the connection cannot be reused for the ClickHouse instance for this perioud of time.
The only remedy - persistent connections.

[2022-11-17 10:24] francescsanjuanmrf opened #273 "[BUG] Missing metric concurrent_limit_excess_total"
**Describe the bug**
We are making more queries than `max_concurrent_queries` to the same cluster with a same user and the metric `concurrent_limit_excess_total` is never reported in the metrics endpoint.

**To Reproduce**
Set `max_concurrent_queries` to 1 in one cluster's user and make several concurrent queries to the cluster with the user configured.

**Expected behavior**
We expect to see the

[2022-11-17 12:32] mga-chka commented on #264
Thanks for the info.
FYI there is also a change to do in the killqueries & heatbeat codes (that uses their own transport layer):
* https://github.com/ContentSquare/chproxy/blob/master/scope.go#L279
* https://github.com/ContentSquare/chproxy/blob/master/heartbeat.go#L57

If the behavior is only on old kernels (that shouldn't be used for security issues) AND when the QPS stays high for a long time i

[2022-11-17 12:49] ilejn commented on #264
Hello @mga-chka
1. I'll look into kill queries and heartbeat code, thanks.
2. I cannot say for sure that the problem is typical for old kernels only, I just don't have enought statistics. Although I think that yes.
3. It is a hot topic about tweaking OS. see https://vincent.bernat.ch/en/blog/2014-tcp-time-wait-state-linux for example . Related parameters are net.ipv4.tcp_tw_recycle and net.ipv4.tc

[2022-11-17 12:52] mga-chka commented on #273
Look weird indeed, after a quick check of the code, I don't see why it doesn't work.
In your tests, are the concurrent queries failing with http code 429 (StatusTooManyRequests)?

[2022-11-17 12:52] ilejn commented on #264
BTW, binary protocol in chproxy is cool!

[2022-11-17 13:50] mga-chka commented on #264
my worry about your fix is:
* the 100 magical number
* the potential side effects. For example it could lead to file descriptor issues on OSs that have a low FD limit (the limit was at 1024 by default on my ubuntu) and produce crashes in production once people upgrade chproxy and encounter spikes of load.

One tradeoff would be to put that in the config so that the chproxy admin can chose the valu

[2022-11-17 14:01] ilejn commented on #264
1. Yes, agree. But MaxIdleConns is a magical number as well. And we already have it (see net/http/transport.go)
2. Theoretically yes, agree about FD shortage risk under very special kind of load. In reality 98 file decriptors (100-2) do not look too serious.

[2022-11-17 14:34] mga-chka commented on #273
FYI I wasn't able to reproduced your issue using master (btw 1.19.0 and 1.20.0)
In this example I run 2 queries that takes 1 sec at the same time using the following config
[code]
I first check the metric is at 0
[code]
then I run the 2 queries in concurrence
[code]
one fails because of `limits for user "user" are exceeded: max_concurrent_queries limit: 1` while the other succeed

and the metric i

[2022-11-17 15:05] francescsanjuanmrf commented on #273
I've found the cause. I have the requests queue enabled (`max_queue_size`and `max_queue_time`). If I remove the queues config, then I see the error message in the logs, and also the metric.

Thanks for your help and sorry for the noise.

[2022-11-17 15:05] #273 closed, assigned to nobody

[2022-11-17 16:03] mga-chka commented on #264
@sigua-cs @Garnek20 @Blokje5 what do you think, should we raise the number of MaxIdleConnsPerHost & MaxIdleConns from  2 (default value) to 100?

[2022-11-17 16:32] ilejn commented on #264
I have to admit that the ratio 100:100 (MaxIdleConnsPerHost:MaxIdleConns) is suboptimal because one host can eat the whole pool.
While 2:100 is suboptimal as well e.g. because 50 is above the number of nodes in an average ClickHouse cluster.

Maybe make both MaxIdleConnsPerHost and MaxIdleConns configurable with defaults 10 and 100 respectively?

[2022-11-17 16:58] Blokje5 commented on #264
From my understanding of the issues, I am fine with exposing the settings to configuration and making it configurable. The ratio of MaxIdleConns/MaxIdleConnsPerHost should indeed be similar to the ChProxy Nodes/Clickhouse Nodes ratio (ideally). I

t also depends on the number of requests that are sent to CHProxy of course, but if we make it configurable it can be tweaked for extreme cases.

We can

[2022-11-18 13:45] mga-chka commented on #233
FYI @Blokje5 will soon take a look at this bug

[2022-11-18 13:58] #236 closed, assigned to nobody

[2022-11-18 14:55] sigua-cs commented on #218
Hello @tasdflkjweio, I'm closing this issue since you can find Docker images for multiple platforms in our DockerHub. The latest version, `v1.19.0-arm64v8` includes the fix you mentioned in this PR.
For M1, you can use `v1.19.0-arm64v8`, which I tested on my MBP M1.

Please note In the previous versions, we used the Arch suffix for the binary names in the Docker images.
We fixed this. So today, it

[2022-11-18 14:55] #218 closed, assigned to sigua-cs

[2022-11-25 11:24] Blokje5 commented on #233
@zhuzhihao94 I have not been able to reproduce your issue.

config.yml:

[code]

Reproduction steps:
- Start a Clickhouse Cluster
- Create a User in Clickhouse (user1, pass1)
- Start CHProxy (1.1.7.2) ( `docker run --link <clickhouse-container>:clickhouse-server -p 9001:9001 -v $(pwd):/config contentsquareplatform/chproxy:1.17.2 -config /config/test.yaml`)

Results:
[code]

In the logs you can see

[2022-11-25 12:49] #185 closed, assigned to gontarzpawel

[2022-11-30 07:08] Alex-Cheng commented on #209
"disabling clickhouse server from the read path and restarting server" helps, but it need manual operations, not automatical. I need an automatical way. My idea is to check the `/replicas_status` which implemented by `ReplicasStatusHandler`, and skip the node which `/replicas_status` returns false.